annotated-types==0.7.0
anyio==4.13.0
click==8.3.1
fastapi==0.115.6
h11==0.16.0
idna==3.11
mysql-connector-python==9.1.0
pydantic==2.10.4
pydantic_core==2.27.2
starlette==0.41.3
typing_extensions==4.15.0
uvicorn==0.34.0
